@charset "UTF-8";

#wrap {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

#title {
	text-decoration: underline;
	text-decoration-color: blueviolet;
	color:blueviolet;
	
}

header {
	height: 70px;
	
}


.contents > .input-box {
	width: 400px;
}

#loginBtn {
	background-color:blueviolet;
}

footer {
	height: 70px;
	color:blueviolet;
	
}